h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Russo One'
}