.tutorials-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
  
.tutorials-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.sport-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.sport-card {
  background-color: rgb(0, 167, 0);
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.2s ease;
  border: 1px solid #ccc;

  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.sport-card {
  text-align: center;
  margin-top: 10px;
  width: 300px;
  padding: 20px;
  background-color: rgb(0, 167, 0);
  border-radius: 8px;
}

.sport-card:hover {
  background-color: #e0e0e0;
}
