.menu-item,
.menu-content,
[role="menuitem"] {
    cursor: pointer !important;
    font-size: large;
}

.menu-content {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
}

.menu-item:disabled,
[role="menuitem"]:disabled {
    cursor: not-allowed !important;
}